.head {
    background-color: black;
    height: 70px;
    width: 100%;
}

.pr1 {
    display: inline-block;
    background-color: blue;
    height: 500px;
    width: 45%;
}

.pr2 {
    display: inline-block;
    background-color: red;
    height: 500px;
    width: 50%;
    margin-top: 10px;
}

.foot {
    height: 70px;
    background-color: green;
}